extends ../layout
block content
  h1 Guardar estación
  form(method="post", action="#{action}")
    -if(put)
      input(type="hidden", name="_method", value="PUT")
    label Nombre
    br
    input(type="text", name="nombre", required="required", value="#{estacion.nombre}")
    br
    label Url
    br
    input(type="text", name="url", required="required", value="#{estacion.url}")
    br
    label Reseña
    br
    textarea(name="reseña", cols="50", rows="5", required="required") #{estacion.reseña}
    br
    input(type="submit", value="Guardar")
    a(href="/estacions") Cancelar